/* style.css */
body {
    font-family: Bradley Hand, cursive;
    margin: 0;
    background: #d6d2c4;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

p {
  font-size: 24px;
  font-weight: 100;
}


.big{
  font-size: 30px;
}

.center-text{
  text-align: center;

}

.bold{
  font-size: 20px;
  font-weight: bold;
}
li {
  font-size: 20px;
  font-weight: 100;
}

.list-container{
  display: flex;
  margin-right: 35rem; 
  gap:2rem;
  padding:2rem;
  max-width: 1000px;
}

.list-column h4{
  text-align: center;
  margin-bottom: 0.5rem;
}

.list-column ul{
  width:100%;
  padding-left: 1.5rem;

}
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

  h3 {
    font-family: 'League Spartan', sans-serif;
    color: #f8f6f1;
    font-size: 100px;
    margin:0;
  }

  h5{
    font-family: Impact, fantasy;
    color: black;
    font-size: 60px;
    margin:0;
  }
.three-columns{
  width: 100%;
  border-spacing: 0;     
}
  
  
  .three-columns td {
    border: none;                           
    vertical-align: middle; 
    padding: 5px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Playfair Display', serif;

  }
  .heading-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .services-images
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .people{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
  }
  .our-tutors{
    text-align: center;
  }

  .our-images {
    display: flex;
    justify-content: center;   /* center them as a group */
    align-items: center;       /* align them vertically */
    gap: 200px;                  /* space between images */
    flex-wrap: wrap;            /* let them wrap on small screens */
    margin-bottom: 100px;
  }
  

  .vertical{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  
  
  .register-img {
    object-fit: contain;
    cursor: pointer;
  }

 .left-image{
  float: left;
  margin-top: 3rem;
  margin-bottom: 3rem;
 }
 .right-image{
  float: right;
  
 }
 
  .schedule {
    float: right;
    margin-right: 1rem;
  }
  .left-align{
    display: flex;
    margin-right: 30rem;
    text-align: center;
  }

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #222;
  font-size: 50px;
  font-weight: 100;
}

h4 {
  font-family: 'Playfair Display', serif;
  color: #222;
  font-size: 100px;
  font-weight: 100;
  margin-right: 10rem;
  margin-bottom: 1rem;
  margin:0;
}

.image-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  font-size: 30px;
}


.About-us {
  position: relative;
  background-image: url('people-image.png');
  background-size: contain;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  padding: 1.13rem;

}



  
  header {
    background-color: #fbf7eb;
    color: #004a8b;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  nav a {
    color: #004a8b;
    text-decoration: none;
  }

  a{
    color: #222;
  }
  
  .hero {
    font-family: Bradley Hand, cursive;
    text-align: center;
    flex-grow: 1;
    position: relative;
    background-image: url('home3.png');
    background-size: contain;
    background-position: center;
    position: relative;
    margin: auto;
  }
  

  
  section {
    padding: 3rem;
  }
  
  footer {
    font-family: 'Segoe UI', sans-serif;
    background-color: #428fba;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
